* {
    box-sizing: border-box;
}


section {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 0 auto;
}


div {

    width: 100px;
    height: 100px;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}


button{
    display: block;
    margin-left: 10px;
    width: fit-content;
    font-size: larger;
}


h2 ,h1{
    display: inline-block;
    margin:10px 10px 20px 10px  ;
}